@media (max-width: 1190px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 9px;
    }

    .keys {
        display: flex;
        flex-wrap: wrap;
    }
}